.panel {
	.panel-heading {
		font-weight: 700;
		font-size: 1.2em;
		padding: 15px 25px;
		background: #f0f0f0;
	}
	.panel-footer {
		font-weight: 700;
		text-align: right;
		background: #f9f9f9;
	}
}